.menu {
  margin-top: -30px;
}
.orange {
  background-color: rgb(248, 104, 68);
}
.orange-light {
  background-color: rgb(255, 126, 93);
}
.picSection {
  background-image: url('./pic1.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotatey(180deg);
}
.heading {
  transform: rotateY(180deg);
}
.picSection-height {
  min-height: 20rem;
}
.picSection-padding {
  padding-left: 100px;
}

.mobile-image {
  min-height: 320px;
  background-image: url('./mobile.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.news-section-title {
  color: rgb(41, 41, 85);
}
.news-section a {
  text-decoration: none;
  color: orangered;
}
.news-section-2nd-row h6 {
  color: orangered;
}
.first-footer {
  background-color: rgb(41, 41, 85);
}
.footer {
  background-color: rgb(17, 17, 45);
}
.borderr {
  border: 2px solid black;
}
@media screen and (max-width: 576px) {
  .heading h4 {
    font-size: medium;
  }
  .heading .row,
  h4 {
    width: fit-content;
  }
}
